/* تنظیم عکس پس‌زمینه */
body {
    background: url('/Frontend/images/Background.png') no-repeat center center fixed; 
    background-size: cover; /* تنظیم اندازه برای پوشش کل صفحه */
    margin: 0;
    height: 100vh; /* پوشش کل صفحه */
}

/* استایل متن خوش آمدید */
.welcome-text {
    color: #FFBB70; /* رنگ متن */
    font-size: 60px;
    text-align: center;
    font-family: Arial, sans-serif; /* فونت استاندارد */
    position: absolute;
    top: 10%;
    left: 77%;
    transform: translateX(-50%);
}
/* خط زیر خوش آمدید */
.underline {
    position: absolute;
    top: 24%; /* تنظیم فاصله از بالا */
    left: 77%;
    transform: translateX(-50%);
    width: 237px; /* طول خط */
    height: 1px; /* ضخامت خط */
    background-color: #FFFBDA; /* رنگ خط */
    border-radius: 2px; /* کمی گردی برای زیبایی */
}
/* استایل متن زیر خط */
.sub-text {
    position: absolute;
    top: 22%; /* تنظیم فاصله از بالا */
    left: 77%;
    transform: translateX(-50%);
    color: #FFFBDA; /* رنگ متن */
    font-size: 18px; /* اندازه کوچکتر از "خوش آمدید" */
    font-family: Arial, sans-serif; /* فونت استاندارد */
    text-align: center;
}
/* استایل متن راهنما */
.info-text {
    position: absolute;
    top: 40%; /* تنظیم فاصله از بالا */
    left: 77%;
    transform: translateX(-50%);
    color: #FFBB70; /* رنگ متن */
    font-size: 18px; /* اندازه کوچک‌تر */
    font-family: Arial, sans-serif; /* فونت استاندارد */
    text-align: center;
}



