# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db

.gitignore

# Flask instance folder
instance/

# Token files
token
token.txt
token.pub

# Virtual environment folders
venv/
ENV/
env/
.venv/

# VSCode settings folder
.vscode/
