# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db


.gitignore

# Flask instance folder
instance/

token
token.txt
token.pub
venv/
ENV/
env/
.venv/


.vscode/





