/* تنظیم عکس پس‌زمینه */
body {
    background: url('/static/images/Background.png') no-repeat center center fixed; 
    background-size: cover; 
    margin: 0;
    height: 100vh; 
}

/* استایل متن خوش آمدید */
.welcome-text {
    color: #FFBB70; 
    font-size: 60px;
    text-align: center;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 77%;
    transform: translateX(-50%);
}
/* خط زیر خوش آمدید */
.underline {
    position: absolute;
    top: 24%; 
    left: 77%;
    transform: translateX(-50%);
    width: 237px; 
    height: 1px; 
    background-color: #FFFBDA;
    border-radius: 2px; 
}
/* استایل متن زیر خط */
.sub-text {
    position: absolute;
    top: 22%; 
    left: 77%;
    transform: translateX(-50%);
    color: #FFFBDA; 
    font-size: 18px; 
    font-weight: bold;
    font-family: Arial, sans-serif; 
    text-align: center;
}
/* استایل متن راهنما */
.info-text {
    position: absolute;
    top: 40%; 
    left: 77%;
    transform: translateX(-50%);
    color: #FFBB70; 
    font-size: 18px; 
    font-family: Arial, sans-serif; 
    font-weight: bold;
    text-align: center;
}
/* استایل فیلد ورودی نام کاربری */
.username-field {
    position: absolute;
    top: 48%; 
    left: 77%;
    transform: translateX(-50%);
    width: 240px; 
    height: 17px; 
    background: transparent; 
    border: 2px solid #FFEC9E; 
    border-radius: 10px; 
    padding: 10px;
    font-size: 16px;
    color: #FFEC9E; 
    text-align: center;
    outline: none; 
}
/* تغییر رنگ متن داخل کادر هنگام تایپ */
.username-field::placeholder {
    color: #FFEC9E; 
    opacity: 0.7;
}

/* استایل فیلد ورودی رمز ورود */
.password-field {
    position: absolute;
    top: 55%; 
    left: 77%;
    transform: translateX(-50%);
    width: 240px; 
    height: 17px; 
    background: transparent; 
    border: 2px solid #FFEC9E; 
    border-radius: 10px; 
    padding: 10px;
    font-size: 16px;
    color: #FFEC9E; 
    text-align: center;
    outline: none; 
}
/* تغییر رنگ متن داخل کادر هنگام تایپ */
.password-field::placeholder {
    color: #FFEC9E; 
    opacity: 0.7;
}

/* استایل دکمه ورود */
.login-button {
    position: absolute;
    top: 65%; 
    left: 77%;
    transform: translateX(-50%);
    width: 270px; 
    height: 40px; 
    background: #FFFBDA; 
    border: none; 
    border-radius: 20px; 
    font-size: 20px; 
    font-weight: bold;
    color: #ED9455; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s; 
}

/* تغییر استایل دکمه هنگام هاور */
.login-button:hover {
    background: #ED9455; 
    color: #FFFBDA; 
}

.flashes{
    color:red;
    position:absolute;
    font-weight: bold;
    top: 80%;
    left:70%;
}

.forgot-password-btn {
    position:absolute;
    background: none;
    border: none;
    color: #FFFBDA;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    top: 530px;
    right: 18%;
    transition: color 0.3s ease;
}

.forgot-password-btn:hover {
    color: #ED9455;
}

.auth-panel {
    position: absolute;
    display: none;
    background-color: #FFFBDA;
    padding: 15px 20px;
    max-width: 300px;
    top: 10px;
    left: 35%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    direction: rtl;
    text-align: center;
}

.auth-panel h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #1b2a49;
}

.auth-panel input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    font-size: 14px;
    box-sizing: border-box;
}

.auth-panel button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #092635;;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-panel button:hover {
    background-color: #ED9455;
}


