<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد ادمین</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

    <!-- اسلایدبار -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <!-- ثبت مدیر جدید -->
            <div class="menu-register-manager" onclick="toggleRegisterPanel()">ثبت مدیر جدید</div>
            <!-- دکمه بکاپ در داشبورد -->
            <div class="menu-backup" onclick="showBackupPanel()"> دریافت بک‌آپ</div>
        </div>
    </div>
    <!-- پیغام هشدار باز بودن پنل -->
    <div id="panel-warning"  class="panel-warning"></div>


    <!-- پنل تأیید بکاپ -->
    <div id="backup-panel" class="backup-panel">
        <h3 style="color: #ED9455;">آیا مطمئن هستید؟</h3>
        <div>
            <button onclick="confirmBackup()" class="save-btn">تأیید و دانلود</button>
            <button onclick="hideBackupPanel()" class="close-btn">بستن</button>
        </div>
    </div>

    <!-- پنل ثبت مدیر جدید  -->
    <div id="register-manager-panel" style="display: none;" class="form-panel">
        <h3 style="color: #ED9455;text-align: center;">ثبت مدیر جدید</h3>
        <input type="text" id="manager-name" placeholder="نام">
        <input type="text" id="manager-family" placeholder="نام خانوادگی">
        <input type="text" id="manager-national-id" placeholder="کد ملی">
        <input type="text" id="manager-phone" placeholder="شماره تلفن">
        <input type="text" id="manager-username" placeholder="نام کاربری">
        <input type="password" id="manager-password" placeholder="رمز عبور">
        
        <p id="manager-error" class="manager-error-warning"></p>
        <p id="manager-success" class="manager-success-warning"></p>

        <button class="save-btn" onclick="submitRegisterManager()">ذخیره</button>
        <button class="close-btn"onclick="toggleRegisterPanel()">بستن</button>
    </div>


    
    <!-- کادر جستجو -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="جستجو...">
        <button onclick="performSearch()">🔍</button>
    </div>
    <div id="searchResults"></div>

    <!-- فهرست اصلی -->
    <div class="manager-overlay">
        <span class="menu-icon">☰</span>
        <span class="menu-text">فهرست اصلی</span>
    </div>

    <!-- تاریخ و ساعت -->
    <div class="datetime">
        <div id="weekday"></div>
        <div id="shamsi-date"></div>
        <div id="clock"></div>
    </div>

    <!-- کاربر فعال -->
    <div class="user-dropdown">
        <div class="user-toggle">
            <span class="user-icon">👤</span>
            <span class="user-label">ناحیه کاربری :  ادمین</span>
        </div>
        <div class="dropdown-menu" id="user-dropdown-menu" style="display: none;">
            <button onclick="closeUserDropdown()">بستن</button>
            <button onclick="logout()">خروج از سیستم</button>
        </div>
    </div>



    <!-- کد های جاوااسکریپت -->
     <script src="/static/js/admin.js"></script>

</body>
</html>
