<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد ادمین</title>
    <link rel="stylesheet" href="/static/css/employee.css">
</head>
<body>

    <!-- اسلایدبار -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <!--    غلات فروش  -->
            <div class="menu-option" onclick="toggleSellPanel()">فروش غلات</div>
        </div>
    </div>

        <!-- پنل فروش غلات -->
    <div id="sell-panel" class="sell-panel" style="display: none;">
        <h3>لیست محصولات</h3>
        <div class="product-table-wrapper">
            <table class="product-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>نام</th>
                        <th>(تومان)قیمت</th>
                        <th>(Kg)موجودی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody id="product-list">
                    <!-- ردیف‌ها توسط جاوااسکریپت ساخته می‌شوند -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- فرم فروش محصول -->
    <div id="sell-form-panel" class="sell-form-panel" style="display: none;">
        <h3 id="sell-form-title">فروش محصول</h3>
        <input type="number" id="sell-quantity" placeholder="مقدار">
        <button onclick="submitSale()">ثبت فروش</button>
    </div>

    
    <!-- کادر جستجو -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="جستجو...">
        <button onclick="performSearch()">🔍</button>
    </div>
    <div id="searchResults"></div>

    <!-- فهرست اصلی -->
    <div class="manager-overlay">
        <span class="menu-icon">☰</span>
        <span class="menu-text">فهرست اصلی</span>
    </div>


    <!-- تاریخ و ساعت -->
    <div class="datetime">
        <div id="weekday"></div>
        <div id="shamsi-date"></div>
        <div id="clock"></div>
    </div>

    <!-- کاربر فعال -->
    <div class="user-dropdown">
        <div class="user-toggle">
            <span class="user-icon">👤</span>
            <span class="user-label">ناحیه کاربری :  کارمند</span>
        </div>
        <div class="dropdown-menu">
        </div>
    </div>

    


    <!-- کد های جاوااسکریپت -->
   <script src="/static/js/employee.js"></script>

</body>
</html>
