<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد ادمین</title>
    <link rel="stylesheet" href="/static/css/manager.css">
</head>
<body>

    <!-- اسلایدبار -->
    <div class="sidebar">
        <div class="sidebar-inner">
        </div>
    </div>
    
    <!-- کادر جستجو -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="جستجو...">
        <button onclick="performSearch()">🔍</button>
    </div>
    <div id="searchResults"></div>

    <!-- فهرست اصلی -->
    <div class="manager-overlay">
        <span class="menu-icon">☰</span>
        <span class="menu-text">فهرست اصلی</span>
    </div>


    <!-- تاریخ و ساعت -->
    <div class="datetime">
        <div id="weekday"></div>
        <div id="shamsi-date"></div>
        <div id="clock"></div>
    </div>

    <!-- کاربر فعال -->
    <div class="user-dropdown">
        <div class="user-toggle">
            <span class="user-icon">👤</span>
            <span class="user-label">ناحیه کاربری :  ادمین</span>
        </div>
        <div class="dropdown-menu">
        </div>
    </div>

     <!-- کد های جاوااسکریپت -->
   <script src="/static/js/manager.js"></script>

</body>