<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد ادمین</title>
    <link rel="stylesheet" href="/static/css/manager.css">
</head>
<body>

    <!-- اسلایدبار -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <!-- ثبت کارمند جدید -->
            <div class="menu-new-employee" onclick="toggleRegisterPanel()">ثبت کارمند جدید</div>
            <!--    حذف کارمند  -->
            <div class="menu-delete" onclick="toggleDeleteEmployeePanel()()">حذف کارمند </div>
            <!--    ویرایش کارمند  -->
            <div class="menu-edit" onclick="toggleEditEmployeePanel()">ویرایش کارمند</div>
            <!--    لیست سفارشات  -->
            <div class="menu-orders" onclick="toggleOrdersPanel()"> لیست سفارشات</div>
            <!--  لیست محصولات -->
            <div class="menu-products" onclick="toggleProductsPanel()">لیست محصولات</div> 
        </div>
    </div>

    <!-- پنل ثبت کارمند جدید  -->
    <div id="register-employee-panel" style="display: none;" class="form-panel">
        <h3 style="color: #ED9455;text-align: center;">ثبت کارمند جدید</h3>
        <input type="text" id="employee-name" placeholder="نام">
        <input type="text" id="employee-family" placeholder="نام خانوادگی">
        <input type="text" id="employee-national-id" placeholder="کد ملی">
        <input type="text" id="employee-phone" placeholder="شماره تلفن">
        <input type="text" id="employee-username" placeholder="نام کاربری">
        <input type="password" id="employee-password" placeholder="رمز عبور">
        
        <p id="employee-error" style="color: red;"></p>
        <p id="employee-success" style="color: green;"></p>

        <button class="save-btn" onclick="submitRegisterEmployee()">ذخیره</button>
        <button class="close-btn"onclick="toggleRegisterPanel()">بستن</button>
    </div>
    
    <!-- پنل لیست سفارشات -->
    <div id="orders-panel" class="orders-panel" style="display: none;">
        <div class="panel-header">
        <h3 style="color: #FFFBDA;">لیست سفارشات</h3>
            <button class="download-orders-btn" onclick="downloadOrdersBackup()">دانلود لیست سفارشات</button>
        </div>
        <div class="orders-table-wrapper">
            <table class="orders-table">
                <thead>
                    <tr>
                        <th>شناسه</th>
                        <th>عملیات</th>
                        <th>نام محصول</th>
                        <th>مقدار</th>
                        <th>قیمت واحد</th>
                        <th>جمع کل</th>
                        <th>زمان</th>
                    </tr>
                </thead>
                <tbody id="orders-list">
                    <!-- ردیف‌ها توسط جاوااسکریپت پر می‌شوند -->
                </tbody>
            </table>
        </div>
        <div style="text-align: center; margin-top: 15px;">
            <button class="close-btn" onclick="hideOrdersPanel()">بستن</button>
        </div>
    </div>

    <!-- پنل لیست محصولات -->
    <div id="products-panel" class="products-panel" style="display: none;">
        <div class="panel-header">
            <h3 style="color: #FFFBDA;">لیست محصولات</h3>
            <button class="download-products-btn" onclick="downloadProductsBackup()">دانلود لیست محصولات</button>
        </div>
        <div class="products-table-wrapper">
            <table class="products-table">
                <thead>
                    <tr>
                        <th>شناسه</th>
                        <th>نام محصول</th>
                        <th>مقدار موجودی (کیلوگرم)</th>
                        <th>قیمت (تومان)</th>
                    </tr>
                </thead>
                <tbody id="products-list">
                </tbody>
            </table>
        </div>
        <div style="text-align: center; margin-top: 15px;">
            <button class="close-btn" onclick="hideProductsPanel()">بستن</button>
        </div>
    </div>

    <!--  حذف کارمند  -->
    <div id="delete-employee-panel" class="Delete_panel" style="display: none;">
        <div class="panel-header">
            <h3 style="color: #FFFBDA;" >لیست کارمندان</h3>
        </div>
        <div class="employee-table-wrapper" style="overflow-y: auto; max-height: 400px;">
            <table class="employee-table">
                <thead>
                    <tr>
                        <th>شناسه</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>نام کاربری</th>
                        <th>شماره تلفن</th>
                        <th>نقش</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody id="employee-list">
                </tbody>
            </table>
        </div>
        <div style="text-align: center; margin-top: 15px;">
            <button class="close-btn" onclick="hideDeleteEmployeePanel()">بستن</button>
        </div>
    </div>

    <!-- پنل اصلی لیست کارمندان برای ویرایش -->
    <div id="edit-employee-panel" class="edit-employee-panel" style="display: none;">
    <div class="panel-header">
        <h3 style="color: #FFFBDA;">لیست کارمندان</h3>
    </div>
    <div class="employee-table-wrapper" style="overflow-y: auto; max-height: 400px;">
        <table class="employee-table">
        <thead>
            <tr>
            <th>ID</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>نام کاربری</th>
            <th>تلفن</th>
            <th>نقش</th>
            <th>عملیات</th>
            </tr>
        </thead>
        <tbody id="employee-edit-list">
        </tbody>
        </table>
    </div>
    <div style="text-align: center; margin-top: 15px;">
            <button class="close-btn" onclick="hideEditEmployeePanel()">بستن</button>
    </div>
    </div>

    <!-- پنل فرعی برای ویرایش کارمند -->
    <div id="edit-employee-form-panel" class="edit-employee-form-panel" style="display: none;">
    <div class="form-content">
        <h3>ویرایش اطلاعات کارمند</h3>
        <form id="edit-employee-form">
        <input type="hidden" id="edit-id">
        <label>نام:</label>
        <input type="text" id="edit-name">
        <label>نام خانوادگی:</label>
        <input type="text" id="edit-family">
        <label>تلفن:</label>
        <input type="text" id="edit-phone">
        <label>رمز جدید:</label>
        <input type="password" id="edit-password">
        <div class="edit-buttons">
            <button type="submit" class="save-btn">ذخیره</button>
            <button type="button" onclick="closeEditFormPanel()">بستن</button>
        </div>
        </form>
    </div>
    </div>

    <!-- کادر جستجو -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="جستجو...">
        <button onclick="performSearch()">🔍</button>
    </div>
    <div id="searchResults"></div>

    <!-- فهرست اصلی -->
    <div class="manager-overlay">
        <span class="menu-icon">☰</span>
        <span class="menu-text">فهرست اصلی</span>
    </div>


    <!-- تاریخ و ساعت -->
    <div class="datetime">
        <div id="weekday"></div>
        <div id="shamsi-date"></div>
        <div id="clock"></div>
    </div>

    <!-- کاربر فعال -->
    <div class="user-dropdown">
        <div class="user-toggle">
            <span class="user-icon">👤</span>
            <span class="user-label">ناحیه کاربری :  مدیر</span>
        </div>
        <div class="dropdown-menu">
        </div>
    </div>

     <!-- کد های جاوااسکریپت -->
   <script src="/static/js/manager.js"></script>

</body>